/* General Stylings */
body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 150px;
}
.resume-container{
    display: flex;
    color: rgb(44, 39, 49);
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 20px red;
}   
.left-section{
    background-color: rgb(36, 139, 143);
    padding: 20px;
    width: 6cm;
    text-align: center;
    border-right: 5px solid rgb(158, 54, 158);
}     
.profile-picture{
    width: 159px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50px;
    border: 5px springgreen;
    margin-bottom: 20px;
    border-image: round;
}
h1{
    font-size: 24px;
    color: rgb(40, 116, 90);
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(62, 107, 206);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(143, 43, 143);
    margin-top: 5px;
    margin-bottom: 5px;
}
ul{
    list-style-type: fill round;
    padding: 30px;
    margin: 10px 0;
}
ul.li{
    margin: 5px 0;
}
.right-section{
    width: 60%;
    padding: 15px;
}
button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
}

button:hover{
    background-color: rgb(86, 82, 153);
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(201, 67, 67);
    font-size: 18px;
}




