/* Styling Form And Resume Section*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(214, 118, 150);
}

form {
    margin: auto;
    background-color: rgb(45, 107, 165);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(32, 192, 98, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: rgb(93, 42, 175);
}

fieldset {
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(64, 131, 189);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(136, 27, 27);
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(85, 26, 77);

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(47, 111, 136);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(84, 75, 170);
    color: rgb(102, 18, 18);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(201, 66, 66, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times,;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(13, 187, 65);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(69, 128, 151);
    border-radius: 8px;
    background-color: rgb(39, 81, 121);
    box-shadow: 0 4px 8px rgba(165, 32, 32, 0.5);
}

#resume-display h2 {
    color: rgb(36, 136, 167);
}
